<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251118877885-apr3anslbv3j4amdc6plf7meo2qflhrb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251118877885-apr3anslbv3j4amdc6plf7meo2qflhrb</string>
	<key>API_KEY</key>
	<string>AIzaSyAV_qtMMXgUxPimpdJPPH5Kv7NmVSkHGZg</string>
	<key>GCM_SENDER_ID</key>
	<string>251118877885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.knowledgeempire.app</string>
	<key>PROJECT_ID</key>
	<string>ke-employee</string>
	<key>STORAGE_BUCKET</key>
	<string>ke-employee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251118877885:ios:eb4bcf476268abe3ec4bd4</string>
	<key>DATABASE_URL</key>
	<string>https://ke-employee.firebaseio.com</string>
</dict>
</plist>