<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ke_portrait.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
				<key>dateExpires</key>
				<string>14/05/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>advance_pdf_viewer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>audioplayers.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>cipher2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_id.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_app_badger.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_introduction_tooltip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_native_timezone.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>open_appstore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>wakelock.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD968D2D97EB7961B776D57BD9615F6EC7DE306B</string>
						<key>dateExpires</key>
						<string>14/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A29DG653DY</string>
						<key>name</key>
						<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>A29DG653DY.com.knowledgeempiredev.new.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>A29DG653DY</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>903d0a91-317e-46c5-a64b-633269d40a72</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.knowledgeempiredev.new.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>A29DG653DY</string>
				<key>name</key>
				<string>BLUE ELEPHANTS SOLUTIONS PTE. LTD.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
